{
  "presets": ["babel-preset-expo","flow"],
  "env": {
    "development": {
      "plugins": [
				"transform-react-jsx-source",
				["babel-plugin-root-import", {
      "paths": [
				{
					"rootPathPrefix": "&",
					"rootPathSuffix": "src/services/"
      	},
				{
					"rootPathPrefix": "s",
					"rootPathSuffix": "src/screens/"
      	},
				{
					"rootPathPrefix": "c",
					"rootPathSuffix": "src/components/"
      	},
				{
					"rootPathPrefix": "$",
					"rootPathSuffix": "src/"
      	}, {
					"rootPathPrefix": "#",
					"rootPathSuffix": "src/styles/"
				}]
			}]
		]
  },
		"production": {
			"plugins": ["babel-plugin-root-import"]
		}
  }
}
